

{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />

{% block start %}
<body>
    
<form id="myform">
    {% csrf_token %}
  <div class="login_Container" >
        <div class="login_cut"><button type="submit"><a href="/">X</a></button></div>
        <div>
            <div class="login_create">
                <h1>Login</h1>
                <p>or <span><a href="/register" >create an account</a></span></p>
                <div>___</div>
            </div>
        </div>
        <div class="login_input">
            <input type="text" placeholder='username' name="username"/>
            <input type="password" placeholder='password'  name="password"/>
        </div>
        <div class="login_btn">
            <button  type="submit">LOGIN</button>
            <p>By clicking on Login, I accept the Terms & Conditions & Privacy Policy</p>
        </div>
    </div>
   
    
</form>
    </body>
 {% endblock %}
 
 <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>

<script>


/* login section */

document.getElementById('myform').addEventListener('submit', function (event) {
    event.preventDefault(); // Prevent default form submission
    debugger;


    // Get the form fields
    var usernameField = document.getElementsByName('username')[0];
    var passwordField = document.getElementsByName('password')[0];
    
    // Get the values entered by the user
    var username = usernameField.value;
    var password = passwordField.value;
    
    // Create a FormData object and set the form data
    var formData = new FormData();
    formData.append('username', username);
    formData.append('password', password);

    var formData = new FormData(this);
    $.ajax({
        type: 'POST',
        url: '/login/', // URL to send the request to
        data: formData,
        processData: false,
        contentType: false,
        success: function (response) {
            console.log("login successful");
            window.location.href='/'
        },
        error: function (xhr, status, error) {
            // Handle error response
            console.error(xhr.responseText);
        }
    });
});


/*end login section*/



</script>