
{% load static %}


<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/rmessagestyle.css' %}" type="text/css" />
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>

<body>
 
    <form id="myform">
        {% csrf_token %}
    <div class="login_Container">
          <div class="login_cut"><button type="submit"><a href="/">X</a></button></div>
          <div>
              <div class="register_create">
                  <h1>Signup</h1>
                  <p>or <span><a href="/login">login to your account</a></span></p>
                  <div>___</div>
              </div>
          </div>
          <div class="register_input">
              <input type="text" placeholder='Name' name='username'  />
              <input type="text" placeholder='First Name' name='firstname'  />
              <input type="text" placeholder='Last Name' name='last_name'  />
              <input type="email" placeholder='Email' name='email'  />
              <input type="text" placeholder='Mobile' name='mobile'  />
              <input type="password" placeholder='Password' name='password' />
          </div>
          <div class="login_btn">
              <button type="submit">SIGNUP</button>
              <p>By creating an account, I accept the Terms & Conditions & Privacy Policy</p>
          </div>
       
      </div>
     
    </form>

   
    </body>
    
            
        <div class="modal fade" id="statusErrorsModal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"> 
            <div class="modal-dialog modal-dialog-centered modal-sm" role="document"> 
                <div class="modal-content"> 
                    <div class="modal-body text-center p-lg-4"> 
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                            <circle class="path circle" fill="none" stroke="#db3646" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" /> 
                            <line class="path line" fill="none" stroke="#db3646" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3" />
                            <line class="path line" fill="none" stroke="#db3646" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" X2="34.4" y2="92.2" /> 
                        </svg> 
                        <h4 class="text-danger mt-3">Invalid email!</h4> 
                        <p class="mt-3">This email is already registered, please login.</p>
                        <button type="button" class="btn btn-sm mt-3 btn-danger" data-bs-dismiss="modal">Ok</button> 
                    </div> 
                </div> 
            </div> 
        </div>
        <div class="modal fade" id="statusSuccessModal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"> 
            <div class="modal-dialog modal-dialog-centered modal-sm" role="document"> 
                <div class="modal-content"> 
                    <div class="modal-body text-center p-lg-4"> 
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                            <circle class="path circle" fill="none" stroke="#198754" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
                            <polyline class="path check" fill="none" stroke="#198754" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " /> 
                        </svg> 
                        <h4 class="text-success mt-3">Oh Yeah!</h4> 
                        <p class="mt-3">You have successfully registered and logged in.</p>
                        <a href="/"><button type="button" class="btn btn-sm mt-3 btn-success" data-bs-dismiss="modal">Ok</button></a> 
                    </div> 
                </div> 
            </div> 
        </div>
 
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/js/bootstrap.min.js'></script>

    <script>

document.getElementById('myform').addEventListener('submit', function (event) {
    event.preventDefault(); // Prevent default form submission
    debugger;


    // Get the form fields
    var usernameField = document.getElementsByName('username')[0];
    var firstnameField = document.getElementsByName('firstname')[0];
    var last_nameField = document.getElementsByName('last_name')[0];
    var emailField = document.getElementsByName('email')[0];
    var mobileField = document.getElementsByName('mobile')[0];
    var passwordField = document.getElementsByName('password')[0];
    
    // Get the values entered by the user
    var username = usernameField.value;
    var firstname = firstnameField.value;
    var last_name = last_nameField.value;
    var email = emailField.value;
    var mobile = mobileField.value;
    var password = passwordField.value;
    // Create a FormData object and set the form data
    var formData = new FormData();
    formData.append('username', username);
    formData.append('firstname', firstname);
    formData.append('last_name', last_name);
    formData.append('email', email);
    formData.append('mobile', mobile);
    formData.append('password', password);

    var formData = new FormData(this);
    $.ajax({
        type: 'POST',
        url: '/register/', // URL to send the request to
        data: formData,
        processData: false,
        contentType: false,
        success: function (response) {
            debugger;
            if(response.message==='user already exists')
            {
                
                $('#statusErrorsModal').modal('show');
            }
            if(response.message==='ok')
            {
                $('#statusSuccessModal').modal('show');
            }
           // console.log("login successful");
            

        },
        error: function (xhr, status, error) {
            // Handle error response
            
        }
    });
});

    </script>