<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class='container mt-5'>
<form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
    <h2>Add Receipe</h2>
    {% csrf_token %}
    <hr>
    <div class="mb-3" >
      <label  class="form-label">Receipe Name</label>
      <input type="text" required class="form-control" name="itemName" aria-describedby="emailHelp">
        </div>
    <div class="mb-3">
      <label  class="form-label">Receipe Description</label>
      <textarea required class="form-control" name="receipe"></textarea>
    </div>
    <div class="mb-3">
        <label  class="form-label">Price</label>
        <input type="text" class="form-control" name="price">
      </div>
    <div class="mb-3">
        <label  class="form-label">Receipe Image</label>
        <input type="file" class="form-control" name="re_image">
      </div>
      <button type="submit" class="btn btn-success">Add Receipe</button>
  </form>

  <hr>
  