{% extends "base.html" %}

{%block start  %}
{% load static %}
   
    <link rel="stylesheet" href="{% static 'css/addtocart.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/cart.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/rmessagestyle.css' %}" type="text/css" />
    

<main class="main-container">
    <section class="restaurants">
        <div class="container">
            <div class="restaurant-list">
                {% for item in items %}
                <div class="place">
                    <a onclick="quickview('{{item.id}}')" id="{{item.id}}" class="place-link">
                        <div class="list-item">
                            <div class="item-content" >
                                <div class="top-img">
                                    <img class="_2tuBw _12_oN" alt="La Pino'z Pizza"
                                        src="/media/{{item.image}}"
                                        width="254" height="160">
                                </div>
                                <div class="status" style="
                                background: rgb(58, 60, 65);
                                color: rgb(255, 255, 255);
                                border-color: rgb(30, 32, 35) transparent;">
                                    <div class="status-title">Promoted</div>
                                </div>
                                <div class="place-name-div">
                                    <div class="name" id="itemName_{{item.id}}">{{item.itemName}}</div>
                                    <div id="receipe_{{item.id}}" class="food-items"
                                        title="Italian, Pizzas, Fast Food, Mexican, Desserts, Beverages">
                                        {{item.receipe}}</div>
                                </div>
                                <div class="info-div">
                                    <div class="rating">
                                        <span class="icon-star"><i class="fa-solid fa-star"></i></span>
                                        <span>3.8</span>
                                    </div>
                                    <div>•</div>
                                    <div>42 MINS</div>
                                    <div>•</div>
                                    <div id="price_{{item.id}}" class="price">₹{{item.price}}</div>
                                </div>
                                <div class="offer-div">
                                    <span class="icon-offer-filled"><i class="fa-solid fa-tag"></i></span>
                                    <span class="offer-text">50% off | Use WELCOME50</span>
                                </div>
                                
                            </div>
                            
                            <div class="quick-view">
                                <span role="button" aria-label="Open" class="view-btn">QUICK VIEW</span>
                            </div>
                      
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <div id="foodmenu"></div>

    </main>

    <div class="modal fade" id="statusSuccessModal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"> 
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document"> 
            <div class="modal-content"> 
                <div class="modal-body text-center p-lg-4"> 
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                        <circle class="path circle" fill="none" stroke="#198754" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
                        <polyline class="path check" fill="none" stroke="#198754" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " /> 
                    </svg> 
                    <h4 id="hcart" class="text-success mt-3">Oh Yeah!</h4> 
                    <p id="pcart" class="mt-3">You have successfully registered and logged in.</p>
                    <a href="/"><button type="button" class="btn btn-sm mt-3 btn-success" data-bs-dismiss="modal">Ok</button></a> 
                </div> 
            </div> 
        </div> 
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/js/bootstrap.min.js'></script>
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->

    <script>

        /*function closemodal()
        {
            debugger;
            $("#exampleModal").modal('hide');
           $(".modal-backdrop").remove();
        }*/
        
    $(document).on('click', '#exampleModal [data-dismiss="modal"]', function() {
        $('#exampleModal').modal('hide');
        });
        
        function quickview(id)
                {
                    debugger;
        
                       
                    $.ajax({
                        url: '/quickview/',  // URL to the Django view
                        type: 'GET',
                        data:{"id":id},
                        success: function (response) {
                             $('#foodmenu').html(response);
                             $('#exampleModal').modal('show');
                            
                           
                            //data-toggle="modal"  data-target="#exampleModal"
                              // Insert rendered HTML into div
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                }
        
        function addorderitems(id){
        debugger;
        isAdminplaced=false;
        employeename=false;
        var username;
            if('{{request.user}}'=='admin' && localStorage.getItem('isadminShoppingforEmployee')=='true')
            {
                    isAdminplaced=localStorage.getItem('isadminShoppingforEmployee')
                    employeename=localStorage.getItem('customername')
                    var expirationDate = new Date();
                    expirationDate.setDate(expirationDate.getDate() + 30);
                    document.cookie = 'isAdminplaced='+isAdminplaced +'; expires=' + expirationDate.toUTCString()
                    document.cookie = 'employeename='+employeename +'; expires=' + expirationDate.toUTCString()
                    
                   // request.session['employeename']=localStorage.getItem('customername')
                
            }
            else
            {
                localStorage.clear();
                }

            var qty=$("#pqty_"+id)[0].innerText
            var csrfToken = '{{ csrf_token }}';
            cartcount=0;

            //Number(document.getElementById("cart-count").textContent)
        
            $.ajax({
                        url: '/addorder/',  // URL to the Django view
                        type: 'POST',
                        data:{
                            "id":id,
                            "itemquantity":qty,
                            'cartcount':cartcount,
                            'isAdminplaced':isAdminplaced,
                            'employeename':employeename,
                            'csrfmiddlewaretoken': csrfToken
                        },
                        
                        success: function (response) {
                            debugger;
                            
                            document.getElementById("cart-count").textContent=response.cartcount

                            $("#exampleModal").modal('hide');
                            $(".modal-backdrop").remove();

                            if(response.message==='order added')
                                {
                                    $('#hcart')[0].innerHTML="order added Successfully!!";
                                    $('#pcart')[0].innerHTML="Please check your cart";
                                   // $('#statusSuccessModal').modal('show');
                                }
                              // Insert rendered HTML into div
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
        
        }
        
        function cartbutton()
                {
                    debugger;
                    var $addQuantity = $(".btn-quantity.plus")
                   var  $minusQuantity = $(".btn-quantity.minus")
        
         
            $('#btn').click(function() {
                $('#btn').toggleClass("cart_clk");
        
            });
           // $("#crtdiv").one("click", function() {
                $('.cart .fa').attr('data-before', '1');
            //});
        
            var prnum = $('.num').text();
        
            $('.inc').click(function() {
                debugger;
                if (prnum >= 0) {
                    prnum++;
                    $('.num').text(prnum);
                    document.getElementById("cart-count").textContent = prnum;
                    $('.cart .fa').attr('data-before', prnum);
                }
        
            });
            $('.dec').click(function() {
                debugger;
                if (prnum >0) {
                    prnum--;
                    $('.num').text(prnum);
                    document.getElementById("cart-count").textContent = prnum;
                    $('.cart .fa').attr('data-before', prnum);
                }
        
            });
        
        
            }

            </script>

{% endblock %}

