<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<body>
  <div class="modal fade" id="editusermodal" tabindex="-2" role="dialog" aria-labelledby="edituser" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Receipe</h5>
              <button   type="button" id= "closebtn" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
        <form id="edituserform">
              {% csrf_token %}
          <div class="modal-body" style="height:450px;left:20%">
            {% for item in items%}
                  <div class="mb-3">
                    <label class="form-label">Receipe Name</label>
                    <input type="input" readonly class="form-control" style="width:75%" value="{{item.itemName}}" name="username">
                    
                  </div>
                  <div class="mb-3">
                    <label  class="form-label">Receipe</label>
                    <input type="email" class="form-control" style="width:75%" style="width:75%" name="email" value="{{item.price}}">
                  </div>
                  <div class="mb-3">
                    <label  class="form-label">Price</label>
                    <input type="input" class="form-control" style="width:75%" style="width:75%" value="{{item.price}}" name="firstname">
                  </div>
                  <div class="mb-3">
                      <label  class="form-label">Qty</label>
                      <input type="input" class="form-control" style="width:75%" value="{{item.totalquantities}}" name="last_name">
                    </div>
                     <div class="mb-3">
                      <label  class="form-label">Image</label>
                      <input type="input" class="form-control" style="width:75%" readonly name="mobile" value="{{item.price}}">
                    </div>
                   {% endfor %}             
          </div>
          <div class="modal-footer">
            <button id="edituderbtn"  class="btn btn-secondary" type="submit">Submit</button>
       </div>
      </form> 
          
      
        </div>
   </div>
  </div>


 
  </body>
  <hr>
  